/* UPDATE FALL 2017 */
h1{
  font-size: 30px; 
  text-align: center;
  color: blueviolet;
}
#background{
  border-style: solid; 
  border-width: 2px; 
  border-color: violet;
  border-radius: 10px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
.about{
  font-size: 17px;
}
td, th {
    border: 1px solid #000;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
.link{
  font-size: 17px;
  color: blueviolet;
}
/* ul {
  float:right;
    list-style-type: none;
    margin: 1;
    padding: 3px;
    width: 400px;
    background-color: white;
}
li a {
  font-size:20px;
  font-family:ariel;
    display: block;
    color: #6AE4E3;
    padding: 8px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #fff;
    color: #6B1C15;
}
.another{
  border-style:solid;
  border-color:powderblue;
  border-radius:10px;
  background-color:powderblue;
  color:black;
}
.menu{
  font-size:20px;
  text-align:center;
  color:white;
  width: 273px;
    height: 30px;
    background-color: red;
    -webkit-animation-name: example; 
    -webkit-animation-duration: 10s; 
    animation-name: example;
    animation-duration: 10s;
}
@-webkit-keyframes example {
    from {background-color: red;}
    to {background-color: pink;}
}
@keyframes example {
    from {background-color: red;}
    to {background-color: pink;}
}
/**.words{
  font-size:20px;
  font-family:courier;
  color:#9f009f;
}*/
dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    font-size: 50px;
    border: solid;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #ff007f}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #d000aa;
}

.why{
  background-color:powderblue; 
  border-radius:35px;
    width: 800px;
    border: 25px powderblue;
    padding: 25px;
    margin: 25px;
}
.fafa-heart{
    color: rgb(150,101,255);
    -webkit-animation-name: example; 
    -webkit-animation-duration: 4s; 
    animation-name: example;
    animation-duration: 4s;
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}
@keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}
#myDIV{
  background-color:blue;
  color:white;
}
h1 {
  text-align: center;
}
/**h6 {
  font-size:11px
} **/

h3 {
  text-align: right;
}

h4 {
  font-size: 30px;
  text-align: left;
  border-style:solid;
  border-color:violet;
  color:white;
}
.haha{
  border-color:blue;
}
p1{
  font-size:12px;
}
p {
  font-size: 20px color: blue;
  font-family: Ariel;
}

li {
  color: blue
}

.div {
  color: powderblue;
}

hello {
  border-width: 10px;
}
footer{
  width: 450px;
  font-family:Times New Roman;
    height: 145px;
    background: red;
    -webkit-transition: width 2s; 
    transition: width 2s;
  border-style:solid; 
  background-color:pink;
  border-color:violet;
  border-radius:10px;
  border-width: 9px;
}
footer:hover {
    width: 1500px;
}
.nope{
  background-color:#7c00ff;
  border-style:solid;
  border-color:#000000;
  border-radius:10px;
  color:#000000;
}
.hi{
  font-size:18px;
  text-align:right;
  font-family:courier;
  color:#7f0000;
}
h6{
  color:black;
  font-size:20px;
}
.link{
  font-size:28px;
  color:lightpink;
}
a{
  color:#f20079;
}
.second{
  border-style:solid;
  border-radius:10px;
  border-color:powderblue;
  background-color:powderblue;
  font-family:Ariel;
}
body {
  margin: 0 auto;
  max-width: 50em;
    background-image:url(http://wallpapercave.com/wp/hiRxbVu.jpg);
    line-height: 1.0;
}
button{
    background-color: powderblue;
    border: solid;
  border-radius:20px;
    color: black;
    padding: 10px 25px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
}
.mySlides{
  float: center;
border-style:solid;
  border-color:powderblue;
  border-background:powderblue;
  border-radius:10px;
}
h9{
  color:#fff;
  font-size:29px;
  text-align:center;
}
.box{
  line-height:120%;
  background-color:powderblue;
  border-style:solid;
  border-color:powderblue;
  border-background:powderblue;
  border-radius:10px;
}
.anotherphrase{
  border-style:solid;
  border-color:powderblue;
  background-color:powderblue;
  border-radius:10px;
} */
/**div1 {
    float:bottom;
    width: 100px;
    height: 100px;
    background: pink;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s; 
    transition: width 5s, height 5s, transform 5s;
}
div:hover {
    width: 500px;
    height: 500px;
    webkit-transform: rotate(180deg); 
    transform: rotate(180deg);
} **/ 
/**#background{
  background-image:"http://www.planwallpaper.com/static/images/518169-backgrounds.jpg";
}
